/db.sqlite3
game/migrations
core/__pycache__
game/__pycache__
node_modules
frontend/build
package-lock.json
package.json
/frontend/src/package.json
/frontend/src/package-lock.json
/frontend/package.json
/frontend/package-lock.json
