[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
channels = "==3.0.5"
sockets = "*"

[dev-packages]

[requires]
python_version = "3.10"
