{% extends 'base.html' %}

{% block title %}Trivial Persuit{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h1>Dashboard</h1>
        <div id="playerList" class="row">
            <h2>Players: {{ num_players }} Max Score: {{max_score}}</h2>
            {% for player in players %}
            <div class="col-sm"style="background-color:#aaa;">
                <h3>Player: {{player.player}} </h3>
                <h5>Difficulty: {{player.difficulty}} </h5>
                <h5 id='{{player.player}}'>Slices: {{player.completed_category}} </h5>
                
            </div>
            {% endfor %}
        </div>
    </div>
    <button class="btn btn-primary btn-md"
            onClick="resetGame()" 
            role="button" aria-disabled="true">Reset Game</button>
    <div class="row"> 
        <textarea class="form-control" id="chat-text" rows="10"></textarea><br>
    </div>
</body>
{% endblock %}
{% block script %}
    {% load static %}
    <script src="{% static '/js/dash_script.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
{% endblock %}