{% extends 'base.html' %}

{% block title %}Trivial Persuit{% endblock %}

{% block content %}
<body>
    <div class="container">
        <h1>Dashboard - Address: {{address}}:8000</h1>
        </br>
        <div id="playerList" class="row">
            <h3>Players: {{ num_players }} - Max Score: {{max_score}}</h3>
            {% if current_player != 'None' %}
                <h2>Current Player: {{ current_player }}</h2>
            {% endif %}
            {% for player in players %}
            <div class="col-sm"
                style="background-color: #092F78; color: white;">
                    <h3>Player: {{player.player}} - Score: {{player.score}} </h3>
                    <h5>Difficulty: {{player.difficulty | title }} </h5>
                    <h5 id='{{player.player}}'>Slices: {{player.completed_category}} </h5>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="questions" class="row"> 
        {% comment %} todo add current question display {% endcomment %}
        {% comment %} <textarea class="form-control" id="chat-text" rows="10"></textarea><br> {% endcomment %}
        <div id="PreQuestion" class="col">
            <h2>Previous Question</h2>
            <h5>Category: {{ PreQuestion.pre_category }}</h5>
            <h6>Question: {{ PreQuestion.pre_question }}</h6>
            <h5>A: {{ PreQuestion.pre_answer}}</h5>
        </div>
        <div id="CurQuestion" class="col">
            <h1>Current Question</h1>
            <h2>Category: {{CurrentQuestion.category}}</h2>
            <h3>Question: {{CurrentQuestion.question}}</h3>
            <h4>A: {{CurrentQuestion.answer_a}}</h4>
            <h4>B: {{CurrentQuestion.answer_b}}</h4>
            <h4>C: {{CurrentQuestion.answer_c}}</h4>
            <h4>D: {{CurrentQuestion.answer_d}}</h4>
        </div>
    </div>

    </br></br></br></br></br>
    <button id='reset_btn'
            class="btn btn-md "
            {% comment %} hidden='' {% endcomment %}
            style="background-color: #092F78; color: #FFFFFF"
            onClick="resetGame()" 
            role="button" aria-disabled="true">Reset Game</button>

    <button id='start_btn'
            class="btn btn-md"
            style="background-color: #092F78; color: #FFFFFF"
            onClick="startGame()" 
            role="button" aria-disabled="true">Start Game</button>
</body>
{% endblock %}
{% block script %}
    {% load static %}
    <script src="{% static '/js/dash_script.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
{% endblock %}