{% extends 'base.html' %}

{% block title %}Trivial Persuit{% endblock %}

{% block content %}
<body>
    <div class="container" align="center">
        <br>
        <h1>Trivial Persuit</h1>
        <br>
        <a href="/join" class="btn btn-md "
            style="background-color: #092F78; color: #FFFFFF"
            role="button" aria-disabled="true">Join Game</a>

        <a href="/dash" class="btn btn-md " 
            style="background-color: #092F78; color: #FFFFFF"
            role="button" aria-disabled="true">DashBoard</a>
    </div>
</body>
{% endblock %}
{% block script %}
    {% load static %}
    {% comment %} <script src="{% static '/js/join_script.js' %}"></script> {% endcomment %}
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
{% endblock %}