{% extends 'base.html' %}

{% block title %}Trivial Persuit{% endblock %}

{% block content %}
<body>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <form method="POST" action="" class='myform'>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="chat-text" class="h4 pt-5">Welcome</label>
                    </div>
                    <div class="form-group">
                        
                        <label for="player_name">Enter Name</label><br>
                        <input id="player_name" name="player_name" type="text">
                        </br><br>
                        <label for="diff">Choose Difficulty:</label><br>
                        <select name="diff" id="diff">
                            <option value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="hard">Hard</option>
                        </select>
                    </div>
                    <br>
                    <input class="btn btn-secondary btn-lg btn-block" 
                    onClick="addPlayer()"
                    id="submit" type="submit" value="Join">

                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}
{% block script %}
    {% load static %}
    <script src="{% static '/js/join_script.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
{% endblock %}