{% extends 'base.html' %}

{% block title %}Trivial Persuit{% endblock %}

{% block content %}
<body onload="loadFunct({{question_id}})">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-8">
                <form action="" class='myform'>
                    <div class="form-group">
                        <label id="name" class="h5 pt-5">Player: {{name}}</label>
                    </br>
                    <p>Player Number: {{question_id}} - Score: {{score}}</p>
                    <p>Current Player: {{current_player}}</p>
                    <p>Diff: {{diff}}</p>
                    <p>Slices: {{slices}}</p>
                    {% if question_id == current_player %}
                    <label for="question" class="h4 pt-2">Question</label>
                            <p>C: {{category}}</p>
                            <p>Q: {{question}}</p>

                            <button type="button"
                                class="btn btn-secondary btn-md"
                                style="margin-bottom: 20px; margin-right: 20px"
                                onClick="showAnswer('{{answera}}', '{{answer}}', '{{name}}', '{{category}}')">
                                A: {{answera}}
                            </button>
                            <button type="button" 
                                class="btn btn-secondary btn-md"
                                style="margin-bottom: 20px; margin-right: 20px"
                                onClick="showAnswer('{{answerb}}', '{{answer}}', '{{name}}', '{{category}}')">
                                B: {{answerb}}
                            </button>
                            <button type="button" 
                                class="btn btn-secondary btn-md"
                                style="margin-bottom: 20px; margin-right: 20px"
                                onClick="showAnswer('{{answerc}}', '{{answer}}', '{{name}}', '{{category}}')">
                                C: {{answerc}}
                            </button>
                            <button type="button" 
                                class="btn btn-secondary btn-md"
                                style="margin-bottom: 20px; margin-right: 20px"
                                onClick="showAnswer('{{answerd}}', '{{answer}}', '{{name}}', '{{category}}')">
                                D: {{answerd}}
                            </button>
                        </div>
                    {% endif %}
                    <div id="answer" class="form-group" hidden=''>
                        
                        <label for="input">Answer</label><br>
                        <p id="Canswer" hidden=''>Correct!: {{answer}}</p>
                        <p id="Ianswer" hidden=''>Incorrect: {{answer}}</p>
                    </div>
                    <input class="form-control" id="dest" type="text" hidden=''></br>
                    {% comment %} dont know why this has to be here {% endcomment %}
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}
{% block script %}
    {% load static %}
    <script src="{% static '/js/q_script.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
{% endblock %}